/.vs
/CMakeSettings.json
/build
/python/build
/python/dist
/python/transform_armor.spec
/.ccls-cache
/.vscode
/.ccls

*.map
/src_www/*.js

.cache

/node_modules
/artifacts
/package-lock.json

/utils/*.json
*.egg-info
/.venv

tags
*.dll
*.esp
*.pex
*.ctags
*Notes*

/skyrim
