[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE
[submodule "extern/mongoose"]
	path = extern/mongoose
	url = https://github.com/cesanta/mongoose.git
